<div class="center">
  <%= form_for @user, url: password_reset_path, method: :put, html: {class: 'form'} do |f| %>
    <h1 class="formHeader">Set New Password</h1>
    <%= form_errors_for(@user) %>
    <div class="formField">
      <%= f.label :password, "New Password" %><br/>
      <%= f.password_field :password, required: true, data: {'parsley-minlength' => '8', 'parsley-maxlength' => '100'} %>
    </div><br/>

    <div class="formField">
      <%= f.label :password_confirmation, "Password Confirmation" %><br/>
      <%= f.password_field :password_confirmation, required: true, data: {'parsley-equalto' => '#user_password', 'parsley-equalto-message' => "Doesn't match password"} %>
    </div><br/>

    <div class="formSubmit">
      <%= f.submit 'Update Password' %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'forms' %>