<div class="postComment postConstraint"> 
  <div class="postUser">
    <%= link_to image_tag(details[:user].avatar_url, class: 'userImageMed'), details[:user] %><br/>
    <span class="postUsername"><%= link_to details[:user].username %></span>
  </div>
  <div class="postContent"><%= markdown(comment.message) %></div>
  <div class="postBottom">
    <div class="commentDatestamp">
      <%= displayed_datestamp(comment.created_at) %>
      <% if root_comment %>
        <span> | </span>
      <% end %>
    </div>
    <% if root_comment %>
      <div class="commentReply">
        <%= link_to 'Reply to comment', load_reply_form_path(comment), class: 'replyFormLoadLink', rel: comment.id  %>
      </div>
    <% end %>
    <div class="postRep">
      <%= voting_link(1.0, comment, details[:user_rep]) %>
      <p class="repCount"><%= reputation_display(details[:reputation]) %></p>
      <%= voting_link(-1.0, comment, details[:user_rep]) %>
    </div>
  </div>
</div>
