<div class="postUser">
  <div class="formField">
    <%= label_tag '', '&nbsp;'.html_safe %><br/>
    <%= link_to image_tag(@post.user.avatar_url, class: 'userImageMed'), current_user %><br/>
    <span class="postUsername"><%= link_to @post.user.username, @post.user %></span>
  </div>
</div>
<%= form_for [@post, Comment.new] do |f| %>
  <div class="formField">
    <b><%= f.label :message, 'Leave a comment' %></b><br/>
    <%= f.text_area :message %>
  </div>

  <div class="formSubmit">
    <%= f.submit 'Add Comment' %>
  </div>
<% end %>