<div id="commentListDetails">
  <b><%= pluralize(@total, "comment") %> total</b> | 
  Sort by: 
  <ul class="sortMenu">
    <% Comment::SORT_OPTIONS.each do |sort_face, sort_value| %>
      <li class="<%= 'selected' if params[:comment_sort] == sort_value %>"><%= link_to sort_face, params.merge(comment_sort: sort_value) %></li>
    <% end %>
  </ul>
</div>
<%= render 'comment_list' %>
<%= paginate @comments %>
