<% if @conjoined_comments.present? %>  
  <% @conjoined_comments.each do |comment, details| %>
    <div class="comment">
      <div class="postComment postConstraint"> 
        <div class="postUser">
          <%= link_to image_tag('default_user.png', class: 'userImageMed'), details[:user] %><br/>
          <span class="postUsername"><%= link_to details[:user].username %></span>
        </div>
        <div class="postContent"><%= markdown(comment.message) %></div>
        <div class="postBottom">
          <div class="commentReply">
            <%= link_to 'Reply to comment', load_reply_form_path(comment), class: 'replyFormLoadLink', rel: comment.id  %>
          </div>
          <div class="postRep">
            <%= link_to '', comment_vote_path(comment, rep_val: 1.0), method: :put, class: 'like' %>
            <p class="repCount"><%= details[:reputation] %></p>
            <%= link_to '', comment_vote_path(comment, rep_val: -1.0), method: :put, class: 'dislike' %>
          </div>
        </div>
      </div>
      <% if details[:replies].present? %>
        <div class="postSubcomments">
          <div class="postSubcommentsDetail">
            <p>
              <b><%= pluralize(details[:replies].size, "reply") %> total</b> |
              <%= link_to "Hide replies", 'javascript:void(0);', onclick: 'collapseSubcomments(this);' %>
            </p>
          </div>
          <div class="subcommentList">
            <% details[:replies].each do |c, details| %>
              <div class="postComment postConstraint"> 
                <div class="postUser">
                  <%= link_to image_tag('default_user.png', class: 'userImageMed'), details[:user] %><br/>
                  <span class="postUsername"><%= link_to details[:user].username %></span>
                </div>
                <div class="postContent"><%= markdown(c.message) %></div>
                <div class="postBottom">
                  <div class="postRep">
                    <%= link_to '', comment_vote_path(c, rep_val: 1.0), method: :put, class: 'like' %>
                    <p class="repCount"><%= details[:reputation] %></p>
                    <%= link_to '', comment_vote_path(c, rep_val: -1.0), method: :put, class: 'dislike' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <i>No Comments</i>
<% end %>
