<div id="commentListDetails">
  <b><%= pluralize(@post.comments.size, "comment") %> total</b> | 
  Sort by: 
  <ul class="sortMenu">
    <% Comment::SORT_OPTIONS.each do |sort_face, sort_value| %>
      <li class="<%= 'selected' if params[:comment_sort] == sort_value %>"><%= link_to sort_face, params.merge(comment_sort: sort_value) %></li>
    <% end %>
  </ul>
</div>
<% if @post.comments.present? %>  
  <% @post.comments.each do |comment| %>
    <div class="postComment postConstraint"> 
      <div class="postUser">
        <%= link_to image_tag('default_user.png', class: 'userImageMed'), comment.user %>
        <span class="postUsername"><%= link_to comment.user.username %></span>
      </div>
      <div class="postContent"><%= markdown(comment.message) %></div>
      <div class="postBottom">
        <div class="commentReply">
          <%= link_to 'Reply to comment', load_reply_form_path(comment), class: 'replyFormLoadLink', rel: comment.id  %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <i>No Comments</i>
<% end %>
<script>
$(".sortMenu").sortMenu();
$("#commentList").on('click', '.replyFormLoadLink', function(event){
  var $that = $(this),
      $constraint = $that.closest('.postComment'),
      $container = $that.closest("#commentList"),
      $rel = $that.attr('rel');

  $container.find(".subCommentForm").hide();

  if ($constraint.find("#commentForm_"+$rel).length > 0) {
    $constraint.find("#commentForm_"+$rel).slideDown();
  } else {
    $.get(this.href, function(data){
      $constraint.after(data);
    });
  }

  event.preventDefault();
});
</script>