<div class="postComment postConstraint"> 
  <div class="postUser">
    <%= user_med_avatar details[:user] %><br/>
    <span class="postUsername"><%= link_to details[:user].username, details[:user] %></span>
  </div>
  <div class="postContent"><%= markdown(comment.message) %></div>
  <div class="postBottom">
    <div class="commentDatestamp">
      <%= displayed_datestamp(comment.created_at) %>
      <% if root_comment %>
        <span> | </span>
      <% end %>
    </div>
    <% if root_comment %>
      <div class="commentReply">
        <%= link_to(load_reply_form_path(comment), 
          class: "replyFormLoadLink#{' loginPopupLink' unless current_user}", 
          data: {comment_id: comment.id}) do %>
          Add a reply <%= content_tag(:span, '', class: 'commentIcon') %>
        <% end %>
      </div>
    <% end %>

    <%= render(
      partial: 'reputations/display',
      locals: {
        object: comment,
        user_rep: details[:user_rep],
        reputations: details[:reputation]})
    %>
  </div>
</div>
