<div id="commentListDetails">
  <b><%= pluralize(@comments.size, "comment") %> total</b> | 
  Sort by: 
  <ul class="sortMenu">
    <% Comment::SORT_OPTIONS.each do |sort_face, sort_value| %>
      <li class="<%= 'selected' if params[:comment_sort] == sort_value %>"><%= link_to sort_face, params.merge(comment_sort: sort_value) %></li>
    <% end %>
  </ul>
</div>
<% if @comments.present? %>  
  <% @comments.each do |comment| %>
    <% replies = comment.comments %>
    <div class="comment">
      <div class="postComment postConstraint"> 
        <div class="postUser">
          <%= link_to image_tag('default_user.png', class: 'userImageMed'), comment.user %><br/>
          <span class="postUsername"><%= link_to comment.user.username %></span>
        </div>
        <div class="postContent"><%= markdown(comment.message) %></div>
        <div class="postBottom">
          <div class="commentReply">
            <%= link_to 'Reply to comment', load_reply_form_path(comment), class: 'replyFormLoadLink', rel: comment.id  %>
          </div>
          <div class="postRep">
            <%= link_to '', comment_vote_path(comment, rep_val: 1.0), method: :put, class: 'like' %>
            <p class="repCount"><%= post_reputation(comment.reputations) %></p>
            <%= link_to '', comment_vote_path(comment, rep_val: -1.0), method: :put, class: 'dislike' %>
          </div>
        </div>
      </div>
      <% if replies.present? %>
        <div class="postSubcomments">
          <div class="postSubcommentsDetail"><p><b><%= pluralize(replies.size, "reply") %> total</b> | <%= link_to "Hide replies", 'javascript:void(0);', onclick: 'collapseSubcomments(this);' %></p></div>
          <div class="subcommentList">
            <% replies.each do |c| %>
              <div class="postComment postConstraint"> 
                <div class="postUser">
                  <%= link_to image_tag('default_user.png', class: 'userImageMed'), c.user %><br/>
                  <span class="postUsername"><%= link_to c.user.username %></span>
                </div>
                <div class="postContent"><%= markdown(c.message) %></div>
                <div class="postBottom">
                  <div class="postRep">
                    <%= link_to '', comment_vote_path(c, rep_val: 1.0), method: :put, class: 'like' %>
                    <p class="repCount"><%= post_reputation(c.reputations) %></p>
                    <%= link_to '', comment_vote_path(c, rep_val: -1.0), method: :put, class: 'dislike' %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <i>No Comments</i>
<% end %>