<div class="postConstraint form subCommentForm" id="commentForm_<%= @commentable.id %>">
  <div class="postUser">
    <div class="formField">
      <%= label_tag '', '&nbsp;'.html_safe %><br/>
      <%= user_med_avatar current_user %><br/>
      <span class="postUsername"><%= link_to @commentable.user.username %></span>
    </div>
  </div>

  <%= form_for [@commentable, @comment], url: comment_reply_path(@commentable) do |f| %>
    <div class="formField">
      <%= f.label :message, "Reply to #{@commentable.user.username}" %><br/>
      <%= f.text_area :message %>
    </div>
    
    <div class="formSubmit">
      <%= f.submit 'Add Comment' %>
      <%= link_to 'Cancel', 'javascript:void(0)', onclick: 'closeReplyForm(this);', class: 'cancelForm' %>
    </div>
  <% end %>
</div>