<div class="center">
  <%= form_for @user, validate: true, html: {class: 'form'} do |f| %>
    <h1 class="formHeader">Sign Up for Free!</h1>

    <div class="formField"> 
      <%= f.label :username %><br/>
      <%= f.text_field :username %>
    </div><br/>

    <div class="formField"> 
      <%= f.label :email %><br/>
      <%= f.email_field :email %>
    </div><br/>

    <div class="formField"> 
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div><br/>

    <div class="formField"> 
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation %>
    </div><br/>

    <div class="formSubmit">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'forms' %>
<%= javascript_include_tag params[:controller] %>
