<div class="center">
  <%= form_for @user, html: {class: 'form'} do |f| %>
    <h1 class="formHeader">Sign Up for Free!</h1>

    <div class="formField"> 
      <%= f.label :username %><span class="fieldReq">Minimum 3 characters</span><br/>
      <%= f.text_field :username, required: true, data: {'parsley-minlength' => '3', 'parsley-maxlength' => '30', 'parsley-type' => "alphanum", 'parsley-remote-reverse' => 'true', 'parsley-remote' => "#{username_check_url}", 'parsley-remote-message' => 'That username is taken'} %>
    </div><br/>

    <div class="formField"> 
      <%= f.label :email %><br/>
      <%= f.email_field :email, required: true, data: {'parsley-type' => 'email', 'parsley-remote-reverse' => 'true', 'parsley-remote' => "#{username_check_url}", 'parsley-remote-message' => 'That email is already being used'} %>
      <div id="emailFix"></div>
    </div><br/>

    <div class="formField"> 
      <%= f.label :password %><span class="fieldReq">Minimum 8 characters</span><br/>
      <%= f.password_field :password, required: true, data: {'parsley-minlength' => '8', 'parsley-maxlength' => '100'} %>
    </div><br/>

    <div class="formField"> 
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, required: true, data: {'parsley-equalto' => '#user_password', 'parsley-equalto-message' => "Doesn't match password"} %>
    </div><br/>

    <div class="formSubmit">
      <%= f.submit "Sign Up" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'forms' %>
<%= javascript_include_tag params[:controller] %>
<%= javascript_include_tag 'mailcheck.min' %>