<div class="postMain postContraint"> 
  <h1 class="postTitle"><%= @post.title %></h1>
  <div class="postActionLinks">
    <%= link_to '<span class="actionIcon edit"></span> Edit Post'.html_safe, edit_post_path(@post), class: 'actionLink' %>
    <%= link_to '<span class="actionIcon delete"></span> Delete Post'.html_safe, @post, class: 'actionLink deleteLink' %>
  </div>
  <div class="postContent"><%= @post.description %></div>
  <div class="postBottom">
    <div class="postTags">
      <%= @post.tags.map{|tag| link_to(tag.name, tag, class: 'tagItem')}.join(' ').html_safe %>
    </div>
    <div class="postRep">
      <%= link_to '', '', class: 'like' %>
      <p id="repCount">2334</p>
      <%= link_to '', '', class: 'dislike' %>
    </div>
  </div>

  <div class="postUser">
    <%= image_tag('default_user.png') %>
    <span class="postUsername"><%= link_to @post.user.username %></span>
  </div>
</div>
<hr class="dottedDivider" />