<h1>Support Tickets</h1>
<% @tickets.each do |ticket| %>
  <div class="ticket">
    <h4 class="ticketHeader">
      <%= ticket.display_reason %>
      <span> | <%= ticket.email %></span>
      <% if ticket.user %>
        <span> | <%= link_to ticket.user.username, ticket.user %></span>
      <% end %>
    </h4>
    <p class="ticketContent"><%= ticket.message %></p>
    <div class="ticketBottom">
      <span class="ticketDatestamp">Received <%= displayed_datestamp(ticket.created_at) %></span> |
      <% if ticket.archived? %>
        Archived <%= displayed_datestamp(ticket.archived_at) %> |
        <%= link_to('Unarchive', 
          support_ticket_path(ticket, support_ticket: {archived_at: nil}), 
          method: :put)
        %>
      <% else %>
        <%= link_to('Archive', 
          support_ticket_path(ticket, support_ticket: {archived_at: DateTime.now}), 
          method: :put)
        %>
      <% end %>
    </div>
  </div>
<% end %>