<!DOCTYPE html>
<html>
<head>
  <title>What Am I Thinking Of?</title>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logoWrapper">
        <%= link_to root_path, title: 'Home', id: 'logoLink' do %>
          <%= image_tag('logo.png', alt: 'logo', id: 'logo') %>
        <% end %>
      </div>
      <nav id="nav">
        <ul>
          <% if current_user %>
            <li><%= link_to current_user.username, current_user %></li><li><%= link_to 'Logout', logout_path %></li>
          <% else %>
            <li><%= link_to 'Sign Up', signup_path %></li><li><%= link_to 'Login', login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div id="body">
      <% if flash[:alert] || flash[:notice] %>
        <div class="flash">
          <%= link_to '&#10005;'.html_safe, '#', class: 'flashClose' %>
          <% if flash[:alert] %>
            <%= link_to '!', '#', class: 'flashShow' %>
            <p class="alert"><%= flash[:alert] %></p>
          <% end %>

          <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
          <% end %>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <section id="footerContent">
        <p id="footerLinks">
          <%= link_to 'Home', root_path %> &#8226;
          <%= link_to 'Add A Post', new_post_path %> &#8226;
          <%= link_to 'Posting Guidelines' %> &#8226;
          <%= link_to 'Make A Suggestion', suggestions_path %> &#8226;
          <%= link_to 'Support Ticket', support_path %> &#8226;
          <%= link_to 'FAQ' %> &#8226;
          <%= link_to 'Privacy Policy' %>
        </p>
        <p id="footerCopy">Copyright &copy; 2014 What Am I Thinking Of</p>
      </section>
    </div>

    <% unless current_user %>
      <%= popup('/sessions/form', 'loginPopup') %>
    <% end %>
  </div>
</body>
</html>
