<!DOCTYPE html>
<html>
<head>
  <title>What Am I Thinking Of?</title>
  <%= stylesheet_link_tag    "application-all", :media => "all" %>
  <%= stylesheet_link_tag    "application-print", :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logoWrapper">
        <%= link_to root_path, title: 'Home', id: 'logoLink' do %>
          <%= image_tag('logo.png', alt: 'logo', id: 'logo') %>
        <% end %>
      </div>
      <ul id="nav">
        <% if current_user %>
          <li><%= link_to 'Logout', logout_path %>
        <% else %>
          <li><%= link_to 'Sign Up', signup_path %></li><li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div>

    <div id="body">
      <% if flash[:alert] || flash[:notice] %>
        <div class="flash">
          <%= link_to '&#10005;'.html_safe, '#', class: 'flashClose' %>
          <% if flash[:alert] %>
            <%= link_to '!', '#', class: 'flashShow' %>
            <p class="alert"><%= flash[:alert] %></p>
          <% end %>

          <% if flash[:notice] %>
            <p class="notice"><%= flash[:notice] %></p>
          <% end %>
        </div>
      <% end %>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
    </div>

    <% unless current_user %>
      <%= popup('/sessions/form', 'loginPopup') %>
    <% end %>
  </div>
</body>
</html>
