<!DOCTYPE html>
<html>
<head>
  <title>What Am I Thinking Of?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logoWrapper">
        <%= link_to root_path, title: 'Home', id: 'logoLink' do %>
          <%= image_tag('logo.png', alt: 'logo', id: 'logo') %>
        <% end %>
      </div>
      <ul id="nav">
        <li><%= link_to 'Sign Up', '' %></li><li><%= link_to 'Login', '' %></li>
      </ul>
    </div>

    <div id="body">
      <%= yield %>
    </div>

    <div id="footer">
    </div>
  </div>
</body>
</html>
